<div class='jumbotron'>
  <h1>Sign Up Confirmation</h1>
  <h3>Are you sure these values are correct?</h3>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <div class="row">
    <div class='col-md-2'>
      <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
    </div>
    <div class='col-md-2'>
      <%= link_to "No", new_user_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
